body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
* {
  margin-top: 1vh;
}
h1,
h2 {
  color: white;
}
h1 {
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
p,
h3 {
  color: gray;
}
h3 {
  text-align: right;
}
nav {
  margin-bottom: 3vh;
}
a {
  color: aquamarine;
  font-size: 16px;
}
